<a href="#{{_id}}" data-id="{{_id}}">{{name}}</a>
<button class="delete btn btn-mini btn-primary list-btn">del ⌫</button>
<button class="edit btn btn-mini btn-primary list-btn spacer ">edit e</button>